@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);

.feynman {
  padding-top: 80px;
  position: relative;
  min-height: 790px;
  background-size: 867px 637px;
  background: #F2F2F2 url(../../images/feynman.png) no-repeat bottom left;
}
